{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-8" />
    <script src="../static/js/echarts.min.js"></script>
</head>

<body>
    <!-- 创建一个根元素 -->
    <h2 style="color:black;padding:10px;text-align:center;font-size:30px;" xmlns="http://www.w3.org/1999/html">Upload
        Your Video,
        Audio, Text and
        Label here</h2>

    <div>
        <form id="upload-file" method="post" enctype="multipart/form-data" style="text-align:center;">
            <!--upload video-->
            <!--        action="http://localhost:5000/uploader"-->
            <label for="imageUpload" class="upload-label"><!--upload trigger-->
                CHOOSE
            </label>
            <input type="file" name="file" id="imageUpload" multiple="multiple">
            <label for="submit-button" class="upload-label">
                SUBMIT
            </label>
            <input type="submit" value="提交" id="submit-button">
        </form>
        <div class="no-style"></div>
        <div class="image-section" style="display:incline;"><!--preview video-->
            <div id="main" class="emotionbar"
                style="width: 450px;height:400px; display:inline-block;margin-left:2%;float:right;margin-top:30px;">
            </div>
            <div class="img-preview">
                <video style="width:100%;height:40%;object-fit:fill" src="" id="videoPreview"
                    controls="controls"></video>
                <div style="text-align: left;">Identification result：</div>
                <div style="text-align: left;">Please click the PREDICT button for more details.</div>
                <button type="button" class="btn btn-primary btn-lg" id="btn-predict" style="margin-top:15px;"
                    >PREDICT</button>
            </div>
            <div style="clear:both;"></div>
        </div>

{#        <div class="emotionbar" style="display:none;">#}
{#            <div id='angry' style=" display:inline;color:#FFA500">angry:</div>#}
{#            <div class="barcontainer">#}
{#                <div id="angrybar" style="width:0%;"></div>#}
{#            </div>#}
{#            </br>#}
{#            <div id='excited' style="display:inline;color:#40E0D0">excited:</div>#}
{#            <div class="barcontainer">#}
{#                <div id="excitedbar" style="width:0%;"></div>#}
{#            </div>#}
{#            </br>#}
{#            <div id='frustrated' style="display:inline;color:#98FB98">frustrated:</div>#}
{#            <div class="barcontainer">#}
{#                <div id="frustratedbar" style="width:0%;"></div>#}
{#            </div>#}
{#            </br>#}
{#            <div id='happy' style="display:inline;color:#FF69B4">happy:</div>#}
{#            <div class="barcontainer">#}
{#                <div id="happybar" style="width:0%;"></div>#}
{#            </div>#}
{#            </br>#}
{#            <div id='neural' style="display:inline;color:#808000">neural:</div>#}
{#            <div class="barcontainer">#}
{#                <div id="neuralbar" style="width:0%;"></div>#}
{#            </div>#}
{#            </br>#}
{#            <div id='sad' style="display:inline;color:#FFCC33">sad:</div>#}
{#            <div class="barcontainer">#}
{#                <div id="sadbar" style="width:0%;"></div>#}
{#            </div>#}
{#        </div>#}
    <script type="text/javascript" style="display:none;">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        option = {
            title: {
                text: 'Emotion prediction outcome',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: [
                {
                    name: 'Access From',
                    type: 'pie',
                    radius: '50%',
                    data: [
                        { value: 0.0, name: 'angry' },
                        { value: 0.0, name: 'excited' },
                        { value: 0.0, name: 'frustration'},
                        { value: 0.0, name: 'happy' },
                        { value: 0.0, name: 'neural' },
                        { value: 0.0, name: 'sad' }
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        option && myChart.setOption(option);
    </script>

{#        <div id="main" style="width: 600px; height: 400px;"></div>#}
{##}
{#          <script type="text/javascript">#}
{#            var myChart = echarts.init(document.getElementById('main'));#}
{#            var option = {#}
{#              // 配置项...#}
{#            };#}
{#            option && myChart.setOption(option);#}
{#          </script>`#}
</body>

</html>

{% endblock %}